<ion-header>
    <ion-navbar>
      <ion-title>Proveedores</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="crearProveedor()"> 
            <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <ion-card text-center *ngFor="let proveedor of proveedores">
      <ion-card-header text-wrap>
        <h2>{{proveedor.nombre}}</h2>
      </ion-card-header>
      <ion-card-content>
        <button ion-button icon-only (click)="verProveedor(proveedor)">
            <ion-icon name="eye"></ion-icon>
        </button>
        <button ion-button icon-only color="secondary" (click)="editarProveedor(proveedor)">
            <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="eliminarProveedor(proveedor._id)">
            <ion-icon name="trash"></ion-icon>     
        </button>
      </ion-card-content>
    </ion-card>
    <div class="paginacion">
     <button ion-button icon-only color="gris" [ngClass]="{'oculto': desde < 25}" (click)="retrocederTramoBotones()">
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
     </button>
     <button ion-button icon-only color="gris" [ngClass]="{'oculto': desde === 0}" (click)="setDesde(-5); retrocederBotones()">
      <ion-icon name="arrow-back"></ion-icon>
     </button>
     <div *ngFor="let boton of botones">
      <button *ngIf="boton <= (numeroBotones + 1)" [ngClass]="{'btn-outline-primary': boton - 1 === desde / 5}" ion-button icon-only color="gris" (click)="updateDesde(boton*5-5)">
        {{boton}}
       </button>
     </div>
     <button ion-button icon-only color="gris" [ngClass]="{'oculto': desde >= totales - 5}" (click)="setDesde(5); avanzarBotones();">
      <ion-icon name="arrow-forward"></ion-icon>
     </button>
     <button ion-button icon-only color="gris" [ngClass]="{'oculto': desde >= (totales - 25)}" (click)="avanzarTramoBotones()">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
     </button>
    </div>
  </ion-content>

